* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: navy;
    text-align: center;
    font-family: "Bebas Neue", serif;
    font-style: normal;
    background: linear-gradient(to right,dodgerblue, navy);
}

h1, h2, h3 {
    color: goldenrod;
    padding-top: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

p, li {
    color: goldenrod;
    padding: 5px;
    font-family: "Barlow Condensed", serif;
    font-size: large;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.6);
}

footer {
    background-color: goldenrod;
    color: navy;
    margin-top: auto;
    padding: 10px;
}

hr {
    border-color: goldenrod;
    margin: 10px;
}

a {
    color: navy;
    text-decoration: none;
    padding: 5px 10px;
    border: 2px solid navy;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.5s, color 0.5s;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

a:hover {
    background-color: navy;
    color: goldenrod;
}

img {
    border: 7px solid goldenrod;
    margin: 25px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: goldenrod;
    padding: 10px;
}

.container ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.container li {
    margin: 0 1rem;
    padding: 5px;
    text-align: center;
    font-family: "Bebas Neue", serif;
    text-shadow: none;
}

main {
    flex: 1;
}
